.h_full {
    height: 95vh;
}

/* .profile-sec {
    
} */


.profile-inner {
    margin-top: 5%;
}

.changepass-inner {
    margin-top: 5%;
}

.changepass-sec {
    height: 80%;
}

.newpass, .renewpass {
    width: 40%;
}

.submit_button {
    margin-top: 2%;
    margin-left: 30%;
}