* {
    padding: 0;
    margin: 0;
}

.con {
    height: 100vh;
}

.form-container {
    height: 50%;
    width: 30%;
}

form {
    height: 100%;
}

input {
    width: 80%;
    height: 10%
}

button {
    width: 20%;
}
